table {
    width: 100%;
    table-layout: auto; 
}
.table-responsive {
    overflow-x: auto;
}
a.chosen-single {
    height: 36px !important;
    line-height: 36px !important;
    background: transparent !important;
    box-shadow: 0 0 !important;
}
.chosen-container {
    width: 100% !important;
}
input.chosen-search-input {
    height: 36px !important;
}
#guest_customer {
    width: 20px !important;
}
.search_result {
    position: relative;
}
 .search_product ul {
    background: #f1f1f1;
    padding: 0;
}

.search_product ul li a{
    cursor: pointer;
}
.search_product ul li {
    display: block;
    list-style: none;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}
.search_product ul li:hover{
    background: #ddd;
}
.search_product ul li p {
    margin: 0 0;
    color: #222;
}

.pos_search {
    display: grid;
    grid-template-columns: auto 50px;
    border-radius: 5px !important;
    overflow: hidden;
}
.pos_search button {
    border: 1px solid #ddd;
}
.pos_search input,.pos_search input:focus {
    border: 1px solid #ddd !important;
    padding: 8px;
    width: 100% !important;
    outline: 0 !important;
}
.search_product {
    max-height: 250px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.search_product::-webkit-scrollbar {
    width: 5px;
}

.search_product::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.search_product::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
}

.search_product::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.bulkselect {
    border: 1px solid #ddd;
    padding: 2px 0px;
    margin-right: 5px;
    margin-bottom: 14px;
    outline: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0f52cd !important;
    border: 1px solid #0f52cd !important;
}
.select2-selection__rendered,.select2-selection--single{
    height: 38px !important;
    line-height: 29px !important;
}
.select2-selection--multiple {
    max-height: auto !important;
    line-height: 29px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}
.control-group.input-group {
    margin: 8px 0;
}
.backend-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.edit-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 5px;
    background: #f1f1f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.custom-drop a {
    background: transparent;
    padding: 0;
    margin: 5px 0;
}
.custom-drop button {
    width: 100%;
    padding: 5px;
    border: 0;
    background: #F3F7F9;
    text-align: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
ul.nav-second-level svg {
    height: 14px;
}
.custom-btn-list button {
    background: transparent;
    border: 0;
}

.custom-btn-list button i, .custom-btn-list a i {
    color: #444;
    font-size: 16px;
}
.button-list.custom-btn-list a, .button-list.custom-btn-list button {
    margin: 3px 5px;
    padding: 0;
}
.action2-btn {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.action2-btn li {
    display: inline-block;
    list-style: none;
    margin: 2px 0;
}
.card-body thead {
    background: #EEF2F7;
}
form.custom_form input, form.custom_form input:focus {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 0 17px;
    width: 70%;
    outline: 0;
}
/*==== Pos css start == */
.quantity button, .quantity input {
    border: 0;
}
input.invdiscount {
    height: 35px;
    border-radius: 5px;
}
.qty-cart .quantity {
    position: relative;
    border: 1px solid #ddd;
    height: 35px;
    overflow: hidden;
}
.qty-cart input {
    width: 100px !important;
    text-align: center;
}
.pos_form input,.pos_form input:focus {
    border: 1px solid #ddd !important;
    padding: 8px;
    width: 100% !important;
    outline: 0 !important;
}
.quantity input {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-weight: 500;
}
.quantity .minus {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
.quantity .plus {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-left: 1px solid #ddd;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}
 .handle {
    cursor: grab;
}
    
ul#side-menu li {
    border-bottom: 1px solid #ddd;
}

/*------dashboard style start----*/
.short-dashboard.card:hover {
    border-color: #fff;
    box-shadow: 0.5px 0.33px 15px 5px rgba(11, 28, 42, .15);
    z-index: 1;
    transition:0.34s all ease;
}
.short-dashboard.card {
    border: 1px solid #c4c2c2;
    padding: 16px 10px;
    margin-bottom: 24px;
    transition: 0.34s all ease;
    border-radius: 10px;
}

.dash-round {
    height: 70px;
    border-radius: 50% !important;
    width: 70px;
    margin: 0 auto;
    text-align: center;
    /* line-height: 70px; */
}

.front-dash i {
    font-size: 30px;
    line-height: 70px;
}
.customer-content {
    background: #f5f7f9;
    padding: 15px;
    border-radius: 5px;
}
.account-title {
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    text-align: left;
    font-weight: 600;
}
.dashborad-text {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}
.seller-des{
    padding: 20px;
}
/*------dashboard style end----*/
/*fixedbar start*/
.sellermenu-icon{
    position:relative;
}
.sellermenu-name {
    position: absolute;
    top: 51px;
    margin-left: 3px;
}
.sellermenu-name span {
    color: #fff;
}
.seller-orders {
    position: absolute;
    top: 16px;
    left: 23px;
}
/*fixedbar end*/

/*admin-call start*/
.admin-call img {
    width: auto;
    height: 98px;
}

.admin-call {
    position: fixed;
    text-align: end;
    bottom: 49px;
    right: 22px;
    z-index: 9;
    opacity: 0;
    transition: all 1s ease-in;
}

.active.admin-call {
    bottom: 84px;
    opacity: 1;
}
button.end-col {
    position: absolute;
    top: 14px;
    background: none;
    right: 3px;
    font-size: 23px;
    border-color: transparent;
}

button.end-col i {
    background: #fff;
    border-radius: 50%;
}
/*admin-call end*/







@media only screen and (min-width:320px) and (max-width:767px) {
    form.custom_form {
        margin-bottom: 15px;
    }
    .action2-btn a, .action2-btn button {
        padding: 3px 12px;
    }
    li.visit-shop {
        margin-top: -72px;
        margin-left: 115px;
    }
    span.logo-sm img {
        width: 130px;
        height: 55px;
    }
    .logo-box {
        position: absolute;
        width: 80px!important;
        left: 50px;
        /* padding-right: 0!important; */
    }
    .navbar-custom {
        padding: 0px;
        position: relative;
        height: 75px;
    }
    .content-page {
        margin-top: 0px;
    }
    .seller-fixed-menu {
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0;
        z-index: 9;
    }
    li.extra-fixed {
        padding-right: 18px !important;
    }
    .camp_vid iframe{
        height: 150px !important;
        width: 247px !important;
    }
    .left-padding {
        padding-left: 17px;
    }
    .button-container {
        gap: 5px !important;
        padding-bottom: 10px !important;
        padding-top: 20px !important;
    }
    .action-button {
        width: 100px !important;
        height: 38px !important;
    }
    .action-button span {
        font-size: 12px !important;
    }
    .admin-call img {
        height: 64px;
    }
    .admin-call a {
        padding: 9px 0px 19px 0px;
    }
    .active.admin-call {
        bottom: 100px;
        opacity: 1;
    }
    .admin-call {
        bottom: 78px;
        right: 12px;
    }



}